.container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.inputcon {
  width: 300px;
  height: 75px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.inputtext {
  font-weight: 600;
}
button {
  margin: 10px;
  padding: 7px;
  width: 100px;
  background-color: #8372e7;
  border-radius: 20px;
  color: white;
}
